.small {
  width: 750px;
  height: 300px;
  .img {
    width: 750px;
    height: 300px;
  }
  border-bottom: solid 1px #ccc;
}



.middle {
  width: 750px;
  height: 650px;
  .img {
    width: 750px;
    height: 650px;
  }
  border-bottom: solid 1px #ccc;
}