.search-bar {
	position: relative;
	width: 700px;
	height: 80px;
	border-radius: 40px;
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.15);
	left: 50%;
	transform: translateX(-50%);
	border-top:solid 1px rgba(0, 0, 0, 0.05);

}
.search-input {
	position: relative;
	height: 40px;
	font-size: 28px;
	left: 40px;
	top: 50%;
	transform: translateY(-50%);
	width: 540px;
}

.search-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 40px;
}